.marker {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  flex-shrink: 0;
  background-color: transparent;

  &.added {
    background-color: var(--green-9);
  }

  &.edited {
    background-color: var(--blue-9);
  }

  &.deleted {
    background-color: var(--red-9);
  }
}
